@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <form>
            <div>
            Digite valor em metros
            <input type="number" />
            </div>
            <label>Medida a converter</label>
            <select>
                <option value="ML">Milimetro</option>
                <option value="KL">Kilometro</option>

            </select>
        

        </form>
    </div>
</div>
